<div class="jumbotron text-center">
	<p>{{ message }}</p>
	
	
</div>


<center>
	<input type="text" name="search" ng-model="search_text" placeholder="Search your document..">

<button ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
</center>
<style type="text/css">
	input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 50%;
}
</style>